<form id="form">
  <div class="movie">
    <img src="" alt="">
    <div class="movie-info">
      <h3>Movie Title</h3>
      <span>9.7</span>
    </div>

    <div class="overview">
      <h3>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus harum alias unde inventore, consequuntur ullam eum, blanditiis laboriosam, minima eos similique. Velit nihil debitis, consequuntur harum praesentium laboriosam sequi distinctio.
      </h3>
    </div>
  </div>

</form>
