.navbar-lewagon {
  justify-content: space-between;
  background: rgb(247, 245, 245);
  height: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.color {
  background-color:#beb7ad
}
