// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "pages/addmovie";

body{
  background-image: linear-gradient( rgba(190,183,173,0.9),rgba(190,183,173,0.9)),url('list_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 130vh;
}
